.article {
  margin-bottom: 64px;

  > header {
    margin-bottom: 24px;

    h1 {
      font-size: 2rem;
      line-height: 1.4;
      margin: 0;
      margin-bottom: 12px;
    }

    span {
      letter-spacing: 0.1em;
      font-size: 0.8rem;
    }
  }

  > main {
    p {
      line-height: 1.7;
    }

    ul,
    ol {
      margin: 0;
      padding-left: 1.5rem;

      li {
        line-height: 1.5;
        &:not(:last-child) {
          margin-bottom: 0.2em;
        }
      }
    }

    blockquote {
      margin: 12px 0;
      padding: 12px;
      background-color: #eee;

      > p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      @media (prefers-color-scheme: dark) {
        background-color: rgba(255, 255, 255, 0.06);
      }
    }
  }
}
