.article {
  margin-bottom: 64px;

  > header {
    margin-bottom: 24px;

    h1 {
      font-size: 2rem;
      line-height: 1.4;
      margin: 0;
      margin-bottom: 12px;
    }

    span {
      letter-spacing: 0.1em;
      font-size: 0.8rem;
    }
  }

  > main {
    p {
      line-height: 1.7;
    }

    ul,
    ol {
      padding: 0;
      padding-left: 16px;
      margin: 0;

      li {
        line-height: 1.5;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }
}
